.customButton{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 100px 0 100px 0;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: transform .3s;
}
.customButton:hover{
    transform: scale(1.5);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal.fade-in{
    display: block;
    animation: fade-in ease-in forwards;
    animation-duration: 0.3s;
}

.modal.fade-out {
    animation: fade-out ease-out forwards;
    animation-duration: 0.3s;
    
}


@keyframes fade-in {
    from{
        transform: translateY(-10%);
        opacity: 0;
        display: none;
    }
    to{
        transform: translateY(0);
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        transform: translateY(0);
      opacity: 1;
      display: block;
    }
  
    100% {
        transform: translateY(-10%);
      opacity: 0;
      display: none;
    }
  }

.opacity{
    background-color: gray;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}

.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
transform-origin: top;
animation: dropdown-anim 0.3s forwards;

}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

@keyframes dropdown-anim {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(1);
    }
}
